<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{todo ? 'edit todo' : 'new todo'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" >
    <ion-row>
      <ion-col size="12" sizeMd="6">

          <ion-item>
            <ion-input formControlName="title" type="text" label="title"></ion-input>
          </ion-item>


          <ion-item>
            <ion-textarea formControlName="desc" rows="1" label="description"></ion-textarea>
          </ion-item>


          <ion-button class="ion-margin-top" expand="block" shape="round" mode="ios" (click)="onSubmit()" [disabled]="!form.valid">
            Save
          </ion-button>

      </ion-col>
    </ion-row>
  </form>

</ion-content>
