<ion-content class="ion-padding">
  <div class="contentCenter">
    <h2>
      <ion-text>
        MY TODO
      </ion-text>
    </h2>

    <p>
      <ion-text>
        sign in to contain
      </ion-text>
    </p>

    <div class="form ">

      <form [formGroup]="registerForm" >
        <ion-row>
          <ion-col size="12"  sizeXl="12" sizeLg="6">

            <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input formControlName="name" type="text" placeholder="Username"></ion-input>
            </ion-item>


            <ion-item>
              <ion-icon name="lock-closed-outline" slot="start" ></ion-icon>
              <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
            </ion-item>

            <ion-button class="ion-margin-top" expand="block" shape="round" mode="ios" (click)="submit()" [disabled]="!registerForm.valid">
              Login
            </ion-button>

          </ion-col>
        </ion-row>
      </form>

    </div>
  </div>


</ion-content>
