h2 {
margin-top: 2rem;
  font-size:  3rem ;
  font-weight: 700 ;

}

p {

  color: rgb(122, 120, 120);
  font-size: 1.5rem;
}

.form {

  margin-top: 8rem;
}

.ion-margin-top {

margin-top: 50px;

}

.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
