<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshpage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <!-- loading spinner -->
  <ion-row class="ion-justify-content-center ion-align-items-center height" *ngIf="loading">
    <ion-col size="auto">
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>



  <!-- content -->
  <ion-row *ngIf="todos">
    <ion-col size="12" sizeSm="12" sizeMd="6">

      <ion-card *ngFor="let todo of todos; let i = index ">
        <ion-item lines="none">
          <div class="index" slot="start">
            {{i + 1}}
          </div>
          <ion-label (click)="showDetails(todo)">
            <h2>
              <ion-text> {{todo.title}} </ion-text>
            </h2>
            <p>
              <ion-text>
                {{todo.desc}}
              </ion-text>
            </p>
          </ion-label>

          <ion-button fill="clear" (click)="delete(i)" color="danger" slot="end">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button fill="clear" (click)="edit(todo)" color="secondary" slot="end">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-button>

        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>


  <!-- fan button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="createTodo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>


<!--infinite  -->
<ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

  </ion-fab>
</ion-content>
