.index {
  color: #5c5a5a;
  height: 3rem;
  width: 3rem;
  border: 1px solid;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 10px;
}

.height {
  height: 100%;
}
